* {
	font-family: "Roboto";
}
header {
	position: relative;
}

.header-nav {
	height: 50px;
	background-color: #212121;
	padding: 12px 70px;
}

.menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.menu-item {
	border-right: 2px dotted black;
	padding-right: 28px;
}
.menu-item:last-child {
	border-right: none;
}
.menu-link {
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	font-weight: 300;
}

.subheader {
	min-height: 84px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 100%;
}
.main-logo {
	margin-top: 17px;
}
.logo-desc {
	margin-top: 5px;
	font-size: 13px;
	color: #ffffff;
	font-weight: 100;
	padding-bottom: 17px;
}

.header-bg {
	/* position: absolute;
	z-index: -1; */
	min-height: 798px;
	background: url(../img/header_bg.png) center center / cover no-repeat;
}
